body{
    background-color: lightblue;
  
  }
  .home form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: dodgerblue;
    padding: 15px;
    color: aliceblue;
  }
  .home h1{
    padding-left: 10px;
  }
  .home input{
    font-size: 20px;
    border-radius: 10px;
    border-color: #fff;
    padding: 5px 5px ;
    cursor: pointer;
  }
  .home input:hover{
    background-color: rgb(175, 178, 178);
  }