<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_alert.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
     <link rel="stylesheet" href="{{ url_for('static', filename='style_admin.css') }}">
     <link rel="stylesheet" href="../static/stype_user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KY4kKY5rl5jhzXU5eQChsZUdzS+cN+f6zNTLUKd6R/+U9K93Xkz+hBZ6JhFP6y+V1zM9C+W8siXqSgTsTAN8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/stylr_create_edit.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/interaction.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block home %} {% endblock %}
    {% block form %} {% endblock %}
</body>

</html>

