{% extends "index.html" %}

{% block form %}

<div class='main_div'>
    <form class="form" method="POST">
        <p class="title">Sign in</p>

        <label>
            <input required="" placeholder="" type="email" class="input" name ='email_acc'>
            <span>Email</span>
        </label>

        <label>
            <input required="" placeholder="" type="password" class="input" name = 'password_acc'>
            <span>Password</span>
        </label>
        <div class="check">
            <div class="check-login">
                <input type="checkbox">
                <p>Đăng nhập lần sau</p>
            </div>
            <div class="check-password">
                <p>Quên mật khẩu ?</p>
            </div>
        </div>
        <button class="submit">LOGIN</button>
        <div class="sign_up" >
            <p>Chưa có tài khoảng?</p>
            <a href="{{ url_for('signup') }}"> Đăng ký </a>
        </div>
    </form>
    
</div>

{% endblock %}